html, body {
  margin: 0;
  padding: 0;
  background-color: floralwhite ;
  color: #353C4C;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
}

.container{
  margin-top: 55px;
}

a {
  text-decoration: none;
}

h1{
  font-size: 35px;
  text-align: center;
}

h3{
  margin: 0;
}

textarea{
  font-family: 'IBM Plex Sans', sans-serif;
  border: 1px solid #353C4C;
  font-size: 18px;
  margin-top: 5px;
  width: 100%;
  height: 100px;
}

.textarea-label{
  padding-bottom: 15px;
}

/* ---NAV BAR--- */

.navbar { 
  display: flex;
  width: 100%;
  background-color: #7986cb;
  color: floralwhite ;
  justify-content: space-between;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  align-items: baseline;
}

.nav-div{
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.navbar-button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  padding: 7px;
  width: 100px;
  margin: 5px 5px 0 5px;
  border-radius: 3px;
  background-color: floralwhite ;
  color: #353C4C;
  font-weight: bold;
  border: none
}

.navbar-button:hover {
  text-decoration: underline;
}

.button-div{
  margin-bottom: 0;
}
 
.nav-link{
  padding-bottom: 0;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  color: floralwhite ;
  padding-left: 30px;
  padding-top: 2px;
  margin: 0;
  text-decoration: underline;
}

/* ---FORM--- */

label{
  font-size: 20px;
  padding: 10px;
}

.auth-form{
  padding-top: 30px;
}

.form-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: ;
}

.form-item{
  padding: 8px;
}

input{
  font-family: 'IBM Plex Sans', sans-serif;
  height: 22px;
  width: 135px;
  font-size: 18px;
  color: #353C4C;
  border: 1px solid #353C4C;
}

select{
  font-family: 'IBM Plex Sans', sans-serif;
  height: 25px;
  width: 135px;
  font-size: 18px;
  color: #353C4C;
  border: 1px solid #353C4C;
  background-color: white;
}

.email-input{
  width: 175px;
}

.submit-button-div{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.submit-button{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 100%;
  margin: 5px 5px 0 5px;
  border-radius: 3px;
  background-color: floralwhite ;
  color: #353C4C;
  font-weight: bold;
  border: 1px solid #353C4C;
}

.submit-button:hover {
  text-decoration: underline;
}

.date-input{
  width: 153px;
}

/* ---ACCOUNT--- */

.account-div{
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-account-div{
  padding: 0 20px 20px 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-item{
  display: flex;
  justify-content: space-between;
}

.incident{
   justify-content: flex-start;
}

.edit-button-div{
  justify-content: flex-end;
}

.edit-button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  padding: 5px;
  height: 40px;
  width: 70px;
  margin: 5px 10px 0 10px;
  border-radius: 3px;
  background-color: floralwhite ;
  border: 1px solid #353C4C;
  color: #353C4C;
  font-weight: bold;
}

.edit-button:hover {
  text-decoration: underline;
}

/* ---REPORTS--- */

.report-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-report-div{
  padding: 12px 10px 5px 10px;
  font-size: 12px;
  line-height: 0.7;
  background-color: floralwhite;
  border-radius: 3%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* ---MAP--- */
.pin{
  height: 30px
}

.bottom-map-div{
  display: flex;
  align-self: flex-end;
}

.map-instruction{
  font-size: 15px;
  font-weight: bold;
  background-color: floralwhite;
  width: 160px;
  padding: 5px;
  margin: 10px;
  border: 1px floralwhite  solid;
  border-radius: 3%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: fixed; 
  bottom: 0;
  
}

.map-filter{
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 10px;
  height: 31px;
  width: 115px;
  font-size: 15px;
  font-weight: bold;
  background-color: floralwhite;
  border-style: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: fixed; 
  bottom: 0;
  right: 0
}

.pin-button{
  background-color: transparent;
  border: none;
  outline: none;
}

.popup-button{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #353C4C;
  background-color: white;
  border: none;
}

.popup-button:hover {
  text-decoration: underline;
}


@media only screen and (min-width: 800px) {
  .account-div{
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
  }

  .my-account-info{
    order: -1;
  }

  .update-report-div{
    padding: 25px;
    display: flex;
    flex-direction: row;
  }

  .update-report-form{
    margin: 0 50px;
  }

}


