html, body {
  margin: 0;
  padding: 0;
  background-color: floralwhite ;
  color: #353C4C;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

h1{
  font-size: 35px;
  text-align: center;
}

textarea{
  border: 1px solid #353C4C;
  font-size: 18px;
}

/* ---NAV BAR--- */

.navbar { 
  display: flex;
  width: 100%;
  background-color: #A9BFF5;
  color: floralwhite ;
  justify-content: space-between;
  padding-bottom: 5px;
}

.nav-div{
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-button {
  font-size: 15px;
  padding: 5px;
  width: 100px;
  margin: 5px 10px 0 10px;
  border-radius: 3px;
  background-color: floralwhite ;
  color: #353C4C;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.button-div{
  margin-bottom: 0;
}
 
.nav-link{
  padding-bottom: 0;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  color: floralwhite ;
  padding-left: 30px;
  padding-top: 2px;
  margin: 0;
  text-decoration: underline;
}

/* ---FORM--- */

label{
  font-size: 20px;
  padding: 10px;
}

.auth-form{
  padding-top: 30px;
}

.form-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item{
  padding: 8px;
}

input{
  height: 22px;
  width: 135px;
  font-size: 18px;
  color: #353C4C;
  border: 1px solid #353C4C;
}

select{
  height: 25px;
  width: 135px;
  font-size: 18px;
  color: #353C4C;
  border: 1px solid #353C4C;
  background-color: white;
}

.email-input{
  width: 175px;
}

.submit-button-div{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.submit-button{
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 260px;
  margin: 5px 5px 0 5px;
  border-radius: 3px;
  background-color: floralwhite ;
  color: #353C4C;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: 1px solid #353C4C;
}

.date-input{
  width: 153px;
}

/* ---ACCOUNT--- */

.account-div{
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-item{
  display: flex;
  justify-content: space-between;
}

.incident{
   justify-content: flex-start;
}

.edit-button-div{
  justify-content: flex-end;
}

.edit-button {
  font-size: 15px;
  padding: 5px;
  height: 40px;
  width: 70px;
  margin: 5px 10px 0 10px;
  border-radius: 3px;
  background-color: floralwhite ;
  border: 1px solid #353C4C;
  color: #353C4C;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}



/* ---REPORTS--- */

.report-div{
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---MAP--- */
.pin{
  height: 30px
}

.map-instruction{
  font-size: 15px;
  font-weight: bold;
  background-color: floralwhite;
  width: 240px;
  padding: 5px;
  margin: 5px;
  border: 1px floralwhite  solid;
  border-radius: 3%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: fixed; 
  bottom:0%;
}

.popup-button{
  font-size: 15px;
  font-weight: bold;
  color: #353C4C;
  background-color: white;
  border: none;
}



